
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}
input {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}